@use '../abstracts' as a;

:root
{
    // --padding-container: 80px 0;
    --align-title: center;
    --box-shadow: 0 0 12px rgba(0,0,0,0.2);
}
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body
{
    font-family: a.$font-family;
    font-size: 1.6rem;
}

.container
{
    inline-size: 90%;
    max-inline-size: 1200px;
    margin: 0 auto;
    padding: a.$padding-container;
    overflow: hidden;
    // &--padding
    // {
    //     padding: 0;
    // }
}
